//- 
  Monster Mash (Game)
  Grant Jenkins, October 2022
  
  For the Codepen challenge:
  codepenchallenge, cpc-vampires

  Let me know your highscore in the comments - top 7 scores added :)

canvas#canvas
script(src="https://cdn.jsdelivr.net/processing.js/1.4.8/processing.min.js")